@font-face {
  font-family: 'customicons';
  src:  url('../fonts/customicons.eot?7u65bk');
  src:  url('../fonts/customicons.eot?7u65bk#iefix') format('embedded-opentype'),
    url('../fonts/customicons.ttf?7u65bk') format('truetype'),
    url('../fonts/customicons.woff?7u65bk') format('woff'),
    url('../fonts/customicons.svg?7u65bk#customicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-snapchat:before {
  content: "\e906";
}
.fa-google-plus:before {
  content: "\e900";
}
.fa-instagram:before {
  content: "\e901";
}
.fa-twitter:before {
  content: "\e902";
}
.fa-facebook:before {
  content: "\e903";
}
.fa-facebook-f:before {
  content: "\e903";
}
.fa-arrow-up:before {
  content: "\e904";
}
.fa-user:before {
  content: "\e905";
}
