#explore {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    color: #fff
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

h2 {
    font-size: 36px
}

.avbar-toggle {
    margin-top: 12px
}

.avbar-toggle .icon-bar {
    background-color: #fff;
}

.avbar-toggle,
.avbar-toggle:focus {
    border: 1px solid #fff;
    outline: none;
}

.header-top {
    display: block;
    overflow: hidden;
    padding: 25px;
}

.main-nav {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.main-nav .container {
    width: 100%
}

.social-icons a {
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
}

.social-icons .fa-facebook:hover {
    color: #3B5997
}

.social-icons .fa-twitter:hover {
    color: #29C5F6
}

.social-icons .fa-google-plus:hover {
    color: #D13D2F
}

.social-icons .fa-youtube:hover {
    color: #ec5538
}

.avbar-brand {
    background-color: #1B7B98;
    height: 90px;
    margin-bottom: 20px;
    position: relative;
    width: 297px;
}

.avbar-brand img {
    position: absolute;
    top: -35px;
}

.avbar-right {
    background-color: #1B7B98;
    padding: 0 95px 0 0;
    opacity: .9
}

.avbar-right li a {
    padding: 35px 21px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    font-weight: 300;
}

.avbar-right li a:hover,
.avbar-right li a:focus,
.avbar-right .active a {
    background-color: #fff;
    color: #16728f
}

.fixed-menu {
    background-color: #1B7B98;
    position: fixed;
    top: 0;
}

.fixed-menu .avbar-right {
    padding: 0;
}

.fixed-menu .avbar-right li a {
    font-size: 18px;
    padding: 20px 25px;
    text-shadow: inherit;
}

.fixed-menu .avbar-brand {
    height: 60px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    width: 125px;
}

.fixed-menu .avbar-brand img {
    height: 60px;
    top: 0;
}

.fixed-menu .header-top {
    display: none;
}

#home {
    position: relative;
    overflow: hidden;
}

#main-slider img {
    width: 100%
}

#main-slider .carousel-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 14%;
    float: left;
    left: 0;
    opacity: 0.8;
    padding: 10px 60px 35px;
    right: inherit;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

#main-slider .carousel-caption h2 {
    font-size: 38px;
}

#main-slider .carousel-caption h4 {
    font-size: 24px;
}

#main-slider .carousel-caption a {
    font-size: 22px;
    color: #2da1c5
}

#main-slider .carousel-caption a:hover {
    color: #2588a6
}

#main-slider .carousel-caption a:hover i {
    margin-left: 35px
}

#main-slider .carousel-caption a i {
    margin-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-slider .carousel-indicators li {
    background-color: #1B7B98;
    border: 1px solid #1B7B98;
}

#main-slider .carousel-indicators li.active {
    background-color: #fff;
    border: 1px solid #fff;
}

#explore {
    background-color: #C34C39;
    background-image: url("https://res.cloudinary.com/csaul/image/upload/v1456518045/staticfiles/event-bg.jpg");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 130px 0 100px;
}

.watch {
    position: absolute;
    left: 0;
    top: 7%;
}

#explore h2 {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
}

#countdown {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0
}

#countdown li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
}

#countdown li:last-child {
    margin-right: 0
}

#countdown li span {
    display: block;
    font-size: 40px;
    font-weight: 700;
    height: 82px;
    line-height: 79px;
    width: 75px;
    border-radius: 10px;
    border-right: 1px solid #9e3e2e;
    border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
    background-color: #45b29d;
    border-top: 1px solid #6ac1b1;
    border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
    background-color: #efc94c;
    border-top: 1px solid #f2d470;
    border-left: 1px solid #f2d470;
}

#countdown li .minutes {
    background-color: #e27a3f;
    border-top: 1px solid #e89565;
    border-left: 1px solid #e89565;
}

#countdown li .seconds {
    background-color: #df5a49;
    border-top: 1px solid #e57b6d;
    border-left: 1px solid #e57b6d;
}

#countdown li:before {
    background-color: #FFFFFF;
    content: "";
    height: 11px;
    left: 0;
    position: absolute;
    top: 36px;
    width: 1px;
}

#countdown li:after {
    background-color: #FFFFFF;
    content: "";
    height: 11px;
    right: 0;
    position: absolute;
    top: 36px;
    width: 1px;
}

.cart {
    background-color: #b34534;
    position: absolute;
    right: -200px;
    top: 37%;
    width: 252px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.cart:hover {
    right: 0;
}

.cart a {
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    text-transform: uppercase;
}

.cart a i {
    font-size: 30px;
    padding: 20px 12px;
    background-color: #A64030;
    margin-right: 3px;
}