/*!
 *
 *
 * Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 *
 */
/*********************
  Mixins
**********************/
/*********************
  VARIABLES
**********************/
/*********************
  GENERAL
**********************/
html,
body {
  height: 100%;
}


/*********************
  NAVIGATION
**********************/
.navbar {
  background-color: transparent !important;
}

.top-nav-collapse {
  background-color: #1C2331 !important; /**/
}

.navbar .dropdown-menu{
  background-color:rgba(255, 255, 255, 0.84);
}

.navbar .dropdown-menu > li > a{
  color: #000;
}

@media only screen and (min-width: 768px) {
  .navbar-fixed-top .navbar-nav > li > a{
    font-size:0.7em;
    transition: border-bottom 0s;
  }
  .navbar-fixed-top .navbar-nav > li > a:focus{
    background-color: transparent;
    border-bottom:1px solid #fff;
  }
  .navbar-fixed-top .navbar-nav > li > a:hover{
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331 !important;
  }
}

/*********************
  MAIN IMAGE
**********************/
.full-header-bg {

    background-color:#6ED223;
    min-height:100px;
    overflow:hidden;
    margin:0;
}

#explore{
  margin-top:0;
  margin-bottom:0;
}


@media only screen and (min-width: 768px) {
  #contact{
    padding:0 4vw;
  }
}


footer.page-footer {
    margin-top: -20px;
}

/*********************
  CARDS
*********************/
/**Newsletter**/
.card .card-content .card-title.event-header {
 border-bottom: 1px solid rgba(204, 133, 133, 0.88);
 margin-bottom: 5px;
 padding-bottom: 10px;
}

/*********************
  TEMPLATE COLORS
**********************/
.pt-color {
  background-color: #1C2331 !important;
}

.st-color {
  background-color: #4D5668 !important;
}

.et-color {
  background-color: #3F729B !important;
}

.btn-ptc {
  background-color: #1C2331 !important;
}

.btn-ptc:hover {
  background-color: #2f3a51 !important;
}

.btn-ptc:focus {
  background-color: #2f3a51 !important;
}

.btn-stc {
  background-color: #4D5668 !important;
}

.btn-stc:hover {
  background-color: #636e85 !important;
}

.btn-stc:focus {
  background-color: #636e85 !important;
}

.btn-etc {
  background-color: #3F729B !important;
}

.btn-etc:hover {
  background-color: #548cb9 !important;
}

.btn-etc:focus {
  background-color: #548cb9 !important;
}

.fb-bg {
  background-color: #3B5998;
}

.tw-bg {
  background-color: #55ACEE;
}

.gplus-bg {
  background-color: #DD4B39;
}

.insta-bg {
  background-color: rgb(18,86,136);
}

.snap-bg{
  background-color: #FFFC00;
}
/****************
  ICONS
*****************/
.btn-floating .icon-png {
    position: relative;
    top: 5px;
}

/*********************
  FOOTER
**********************/
footer.page-footer {
  margin-top: 0;
  background-color: #1C2331;
}
/*********
Utils
**********/
#cdnCssCheck{
  width:2px;
  height:2px;
}