/* Adapted from a template by MDB.com
 * www.semaineafricaineul.ca
*/

/*********************
  GENERAL
**********************/
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  overflow: initial;
}

.wrapper {
  height: 100%;
}


/*********************
  NAVIGATION
**********************/
.navbar {
  background-color: #14B4F2 !important;
}

.navbar-header {
  background-color: white;
  height: 100%;
  left: 0;
  padding-top: 9px;
  position: absolute;
  top: 0;
  width: 200px;
}

.top-nav-collapse {
  background-color: #1C2331 !important; /**/
  background-image: none;
}

.top-nav-collapse .navbar-header {
  padding-top: 0px;
}

.top-nav-collapse .navbar-brand img {
  height: 50px !important;
  width: auto !important;
}

.navbar .dropdown-menu{
  background-color:rgba(255, 255, 255, 0.84);
}

.navbar .dropdown-menu > li > a{
  color: #000;
}

@media only screen and (min-width: 768px) {
  .navbar-fixed-top .navbar-nav > li > a{
    font-size:0.7em;
    transition: border-bottom 0s;
  }
  .navbar-fixed-top .navbar-nav > li > a:focus{
    background-color: transparent;
    border-bottom:1px solid #fff;
  }
  .navbar-fixed-top .navbar-nav > li > a:hover{
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331 !important;
  }

  .navbar-header {
    background-color: initial;
    height: initial;
    left: initial;
    padding-top: initial;
    position: initial;
    top: initial;
    width: initial;
  }
}

/*********************
  MAIN HERO
**********************/
.full-bg-img {
    background: 
      /*url("https://res.cloudinary.com/csaul/image/upload/v1456518046/staticfiles/main-bg.png") */
      url("../images/site/main-bg.jpg")
      repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    overflow: hidden;
    position: relative;
}

.rotated-background {
  width: 100%;
  height: 200%;
  position: absolute;
  z-index: 2;
  top: 60px;
}

.rotated-background:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/site/iconic-texture.png");
  /*background-repeat: no-repeat; */
  background-position: center center;
  background-size: contain;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin:0 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
}

.iconic-hero-img {
  bottom: 0;
  display: block;
  position: absolute;
  right: 20px;
  /*top: 30%;*/
  z-index: 2;
}

.hero {
  height: initial;
}

.hero .brand {
  padding-top: 52px;
}

.hero .container {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.hero-titles {
  margin-top: -50px;
}

.hero-theme {
  color: black;
  font-family: "Open sans", Roboto, arial;
  font-weight: 500;
}

.hero-date {
  background-color: #14B4F2;
  color: white;
  font-weight: 300;
  margin: 0 auto;
  max-width: 400px;
  padding: 12px;
}

.triangle-section {
    width: 0;
    height: 0;
    left: 0;
    padding-left: 100%;
    padding-top: 107%;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 1;
}

.triangle-section:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-2500px;
    margin-top:-2500px;
     
    border-left: 2500px solid transparent;
    border-top: 2500px solid #FFCF8F;
}

.countdown-container {
  background: none;
  margin-top: 86px;
  position: relative;
  top: initial;
  width: 300px;
  z-index: 2;
}

.countdown-group {
  margin-bottom: 1.5em;
  position: relative;
  text-align: center;
}

.countdown-group span {
  color: white;
  display: block;
  font-size: 2.4em;
  position: relative;
  margin-top: -.6em;
  top: 50%;
}

.countdown-day {
  top: 30px;
  left: 30px;
}

.countdown-hour {
  top: 28px;
  left: 50px;
}

.countdown-minute {
  top: 28px;
  left: 70px;
}

.countdown-second {
  top: 7px;
  left: 180px;
}

.countdown-circle {
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  font-family: Dosis;
  font-size: 1em;
  height: 120px;
  width: 120px;
}

.countdown-label {
  font-weight: 500;
  color: white;
  text-transform: uppercase;
} 

.full-60 {
  height:60%;
}

.inline-visible-mb {
  display: none;
}

@media (max-width: 768px) {
  .triangle-section, .triangle-section:after {
    display: none;
  }

  .rotated-background {
    height: 100%;
  }

  .rotated-background:before {
    transform: initial;
    transform-origin: initial;
    -ms-transform: initial;
    -ms-transform-origin: initial;
    -webkit-transform: initial;
    -webkit-transform-origin: initial;
  }

  .iconic-hero-img {
    display: none;
  }

  .hero {
    background: none;
    background-color: white;
  }

  .hero .container {
    position: relative;
  }

  .hero .brand {
    padding-top: 0;
  }

  .hero-content {
    padding: 24px 0;
    padding-top: 36px;
  }

  .hero-content img {
    max-width: 48%;
  }

  .countdown-container {
    background: url("../images/site/main-bg.jpg")
      repeat center center fixed;
    background-size: contain;
    margin: 24px 0; 
    padding: 16px;
    text-align: center;
    width: 100%;
  }

  .countdown-group {
    display: inline-block;
    margin-bottom: initial;
    margin-right: 1em; 
    top: initial;
    left: initial;
  }

  .countdown-circle {
    display: inline-block;
    height: 80px;
    width: 80px;
  }

  .countdown-circle span {
    margin-top: initial;
    top: initial;
  }

  .inline-visible-mb {
    display: inline-block;
  }
}

@media (max-width: 470px) {
  .countdown-group {
    display: block;
    margin-bottom: .5em;
    margin-right: initial;
  }
}

/*********************
  SECTIONS
**********************/

section {
  margin-top: 0;
  padding-top: 80px;
}

#explore{
  margin-top: 0;
  margin-bottom: 0;
}

#events {
  background-color: #FCE723;
  margin-bottom: 0;
  padding: 2em 16px;
  padding-top: 2em;
  margin-top: -24px;
}

#news {
  min-height: 500.8px
}

#partners {
  /*background-color: #1881a2;*/
  background-color: #14B4F2;
  /*background-image: 
    url("https://res.cloudinary.com/csaul/image/upload/v1456518046/staticfiles/partenaires-bg.jpg");*/
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 100px;
}

#partners .logos {
  z-index: 1;
}

#partners .shout-out {
  position: absolute;
  bottom: 0;
  right: 0;
}

.partner-card .card-text {
  padding: .8em;
  text-transform: uppercase;
}

.partner-card {
  margin: 0.5em auto;
  max-width: 300px;
  width: 100%;
}

.partner-card .img-container {
  height: 220px;
  position: relative;
  text-align: center;
  width: 100%;
}

.partner-card img {
  display: block;
  left: 50%;
  margin: 0 auto;
  max-width: 100%;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-header {
  margin-bottom: 8vh;
}

.divider-new {
  margin-top: 0;
  padding-top: 20px;
}

#become-partner {
  background-color:  #1C2331;
  color: white;
  margin-bottom: 0;
  padding-top: 1.4em;
  padding-bottom: 100px;
  position: relative;
}

#become-partner .section-header {
  color: white;
}

#become-partner .section-right {
  color: #1C2331;
  left: 60%;
  margin-top: 0;
  position: relative;
  width: 40%;
}

#become-partner .section-left {
  left: 0;
  position: absolute;
  top: 0;
  padding-top: 48px
}

#contact {
  margin-bottom: 0;
  padding-bottom: 100px;
  position: relative;
}

#contact .section-title {
  background-color: #90CA43;
  color: white;
  height: 100%;
  left: 0;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  top: 0;
  max-width: 400px;
  width: 30%;
}

.section-title h4 {
  font-size: 2em;
}

.section-title i {
  font-size: 80px;
}

.contact-data {
  text-align: center;
}

#contact .contact-data li {
  display: inline-block;
  margin-right: .8em;
}

@media only screen and (min-width: 768px) {
  #contact, #events {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media (max-width: 768px) {
  #contact {
    padding-top: 0;
  }

  #contact .section-title {
    margin: 1.4em auto;
    margin-top: 0;
    max-width: initial;
    padding-top: 80px;
    position: relative;
    width: 100%;
  }

  #become-partner .section-right {
    left: 0;
    position: relative;
    width: 100%;
  }

  #become-partner .section-left {
    position: relative;
    width: 100%;
  }
}


/*********************
  CARDs
**********************/

.card-title {
  padding: 2vh;
  text-align: center;
}

.card-image img {
  max-height:300px;
}

/**Carousel**/
.carousel-inner .card-content, .carousel-inner .card-action {
  position: relative;
  background-color: #fff;
}

.carousel-inner .card{
  margin-bottom:0;
  margin-top:0;
}

.spe-car .carousel-indicators {
  margin-bottom:-2em;
}

.spe-car .carousel-indicators li.active {
  height:23px;
  width:23px;
  background-color: #000;
}

.spe-car .carousel-indicators li {
  margin-bottom:-30px;
  height:20px;
  width:20px;
  background-color: #000;
}

/*********************
  FORMS
**********************/
form label.active{
  width:100%
}
/* alternative if you no longer
  feel that 100% percent width is general rule
  .label100.active{
    width:100%
  }
*/

.input-field label.submit-error{
  width:100%;
}

.input-field label.submit-error:after{
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}



/*********************
  TEMPLATE COLORS
**********************/
.pt-color {
  background-color: #1C2331 !important;
}

.st-color {
  background-color: #4D5668 !important;
}

.et-color {
  background-color: #3F729B !important;
}

.btn-ptc {
  background-color: #1C2331 !important;
}

.btn-ptc:hover {
  background-color: #2f3a51 !important;
}

.btn-ptc:focus {
  background-color: #2f3a51 !important;
}

.btn-stc {
  background-color: #4D5668 !important;
}

.btn-stc:hover {
  background-color: #636e85 !important;
}

.btn-stc:focus {
  background-color: #636e85 !important;
}

.btn-etc {
  background-color: #3F729B !important;
}

.btn-etc:hover {
  background-color: #548cb9 !important;
}

.btn-etc:focus {
  background-color: #548cb9 !important;
}

.insta-bg {
  background-color: rgb(18,86,136);
}

.fb-bg {
  background-color: #3B5998;
}

.tw-bg {
  background-color: #55ACEE;
}

.gplus-bg {
  background-color: #DD4B39;
}
.snap-bg{
  background-color: #FFFC00;
}

/*********************
  FOOTER
**********************/

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

footer form .input-field {
  color: #fff;
  text-align: left;
}

footer#footer button{
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
}


/*********
Utils
**********/
#cdnCssCheck{
  width:2px;
  height:2px;
}