<section id="become-partner" style="margin-top:-3rem;">
    <div class="container section-left">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-header">Devenez <b>commanditaire</b></h3>
                <div class="card-panel transparent">
                    <p>
                        Nous vous remercions de l’intérêt que vous portez à la Semaine Africaine de l’Université Laval.
                        Soutenez l'initiative et accompagnez une équipe et surtout une jeunesse motivée.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="card-panel section-right">
        <p>
            Pour toute information concernant un partenariat, une commandite ou un don, merci de communiquer avec :

        </p>
        <ul class="contact-data text-center">
            <li>
                <h5><b>Rosie Kasongo</b></h5>
            </li>
            <li>
                <p style="font-family:'open sans', arial;">
                    Coordinatrice Commandites-Finances &nbsp;
                </p>
                <p>
                    <small style="color:#555">Comité de la Semaine Africaine de l'Université Laval</small>
                </p>

            </li>
            <li class="wow fadeInUp" style="visibility: visible; word-wrap:word-break; animation-delay: 0.3s; animation-name: fadeInUp;"><a class="btn-floating btn-small waves-effect waves-light green darken-1"><i class="material-icons">phone</i></a>
                <p>+1 581 309-1995</p>
            </li>

            <li class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; word-wrap:word-break; animation-delay: 0.4s; animation-name: fadeInUp;"><a class="btn-floating btn-small waves-effect waves-light green darken-1"><i class="material-icons">email</i></a>
                <p>commandites@semaineafricaineul.ca</p>
            </li>
        </ul>
    </div>
    
</section>