<section id="contact">
    <div class="section-title">
        <h4>communiquez avec nous</h4>
        <hr class="divider-short">
        <i class="material-icons">email</i>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
            <div class="card-panel">
                {% include 'eventpage/contact.html' %}
                <hr>
            </div>
        </div>
    </div>
</section>