<section id="explore">
        <div class="container">
            <div class="row">
                <div class="watch">
                    <img class="img-responsive" src="https://res.cloudinary.com/csaul/image/upload/v1456518045/staticfiles/watch.png" alt="">
                </div>
                {% comment "This is for when the show is done." %}
                <div class="col-md-12">
                    <h2>Un grand <span style="font-weight:bold; color:#e81;">MERCI</span> à tous! </h2>

                </div>
                {% endcomment %}

                <div class="col-xs-12 text-center">
                    <ul id="countdown">
                        <li>
                            <span class="days time-font">00</span>
                            <p>jours</p>
                        </li>
                        <li>
                            <span class="hours time-font">00</span>
                            <p class="">heures </p>
                        </li>
                        <li>
                            <span class="minutes time-font">00</span>
                            <p class="">minutes</p>
                        </li>
                        <li>
                            <span class="seconds time-font">00</span>
                            <p class="">seconds</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>