<section id="events">
    <h3 class="text-center white-text text-uppercase">les événements</h3>
    <p class="text-center white-text">Tout savoir sur les activités durant la Semaine Africaine.</p>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">Activité de Basket Ball au PEPS</p>
                </div>
                <div class="card-content">
                    <p>
                        Venez vous mesurer aux autres <em>ballers</em> de l'Université Laval.
                    </p>
                    <p style="font-weight:bold;">
                        Date: 12 mars 2018, 13h à 16h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: PEPS de l'Université Laval
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>
        <div class="col-md-8 col-lg-8">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">Flashmob</p>
                </div>
                <div class="card-content">
                    <p>
                        Le « Flashmob » aura lieu le 12 mars à 12h et consiste à réaliser une chorégraphie aux allures spontanées, mais en réalité bien planifiée dans un lieu, sous les yeux des passants très étonnés et amusés. À partir de notre danse et encore de notre choix musical, il sera possible de retrouver la teinte de notre thème et même d’une ébauche du rythme africain. Nous réservons une surprise de taille pour célébrer les femmes.<br>
                        Cette activité nous permettra de lancer officiellement le début de la Semaine Africaine UL. Il nous incombe de signaler que nous considérons le flashmob comme notre activité clé.
                        L’an dernier, plus d'une dizaine des personnes se sont prêté au jeu devant plus de 200 spectateurs. La vidéo du flashmob a été visionnée plus de 30 000 fois.
                    </p>
                    <p style="font-weight:bold;">
                        Date: 12 Mars 2018 à 12h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: Surprise!
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>

        <div class="clearfix"></div>
        
        <!-- exposition event -->
        <div class="col-md-6 col-lg-4">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">Café-discussion</p>
                </div>
                <div class="card-content">
                    <p>Pour une durée d’environ une heure et demie, le 13 mars à 20h au café Fou AELIÉS, nous allons discuter des enjeux touchant les femmes au Québec et en Afrique, nous inviterons une femme qui sera experte en ce sujet. Cette activité se fera en collaboration avec l’association « Féministes en mouvement de l’Université Laval ».
                    </p>
                    <p style="font-weight:bold;">
                        Date: 13 mars 2018 à 20h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: Café Fou AÉLIÉS
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>
        <!-- contes event -->
        <div class="col-md-6 col-lg-4">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">Exposition</p>
                </div>
                <div class="card-content">
                    <p>
                       L’exposition aura lieu le 14 mars de 9h à 17h à l’Espace Jardin et aura comme thème : Femmes africaines, femmes fortes. Au cours de cette exposition, nous présenterons des oeuvres d’art qui traiteront des femmes africaines sous différents contextes de vie. Il sera possible de participer à des visites guidées.
                    </p>
                    <p style="font-weight:bold;">
                        Date: 14 mars 2018, 10h à 17h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: Espace Jardin
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>
        <div class="clearfix visible-md hidden-lg"></div>
        <div class="col-md-6 col-lg-4">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">Salon du livre</p>
                </div>
                <div class="card-content">
                    <p>
                       Le salon du livre se fera conjointement avec l’exposition. Il aura lieu le 14 mars à l’Espace Jardin. Durant cette activité, nous présenterons des livres écrits par des femmes africaines ou d’origines africaines. Le but de cette activité est de faire connaitre les oeuvres de celles-ci tout en rendant hommage à leurs ouvrages.
                    </p>
                    <p style="font-weight:bold;">
                        Date: 14 mars 2018, 10h à 17h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: Espace Jardin
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>
        <div class="visible-lg clearfix"></div>
        <!-- avashow event -->
        <div class="col-md-6 col-lg-4">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">ART-FRIQUE</p>
                </div>
                <div class="card-content">
                    <p>
                        Au cours de cette activité, nous allons initier des enfants à l’art de la peinture. Elle sera animée par un jeune étudiant peintre de l’Université Laval, Jean-Marc Ouattara. Cet atelier sera entièrement offert par la Semaine Africaine et sera gratuit. Elle sera ouverte à tous les enfants et aura lieu le 15 mars.
                    </p>
                    <p style="font-weight:bold;">
                        Date: 15 Mars 2018 à 17h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: À préciser
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>
        <div class="col-md-8 col-lg-8">
            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-header gplus-bg">
                    <div class="view gplus-bg overlay hm-white-slight z-depth-1">
                        <div class="mask waves-effect"></div>
                    </div>
                    <p class="card-title yellow-text">Gala BINTI </p>
                </div>
                <div class="card-content">
                    <p>
                        En tant qu’étudiant.e.s et futur.e.s diplômé.e.s sur le marché de travail, nous avons voulu faire une soirée de réseautage qui regroupera différents professeur.e.s, étudiant.e.s, entrepreneur.e.s de diverses origines. Cette soirée se fera sous forme de cocktail dinatoire. Au cours de celle-ci, nous allons présenter des femmes entrepreneures africaines ou d’origines africaines évoluant au Québec ou au Canada. Outre ce fait, nous allons aussi présenter, à travers des vidéos, des femmes qui ont joué un rôle majeur dans l’Histoire du continent africain. De par sa dénomination, le gala renvoie une fois de plus au thème de la Semaine Africaine. En effet, <em>Binti</em> vient de l’Arabe et du Swahili et veut dire <em>FEMME</em>. Le Gala Binti aura lieu le 16 mars à 19h au pavillon Desjardins plus précisément au cercle.
                    </p>
                    <p style="font-weight:bold;">
                        Date: 16 Mars 2018 à 19h
                    </p>
                    <p style="font-weight:bold;">
                        Lieu: Cercle de l'Université Laval
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://www.facebook.com/events/1703376473015925/">Plus d'infos</a>
                </div>
            </div>
            <!--Image Card-->
        </div>
        
    </div>
</section>