{% load static %}
<!-- Feel the Intro -->
<section class="hero full-bg-img">
    <div class="triangle-section"></div>
    <div class="rotated-background"></div>
    <img class="iconic-hero-img" src="{% static 'eventpage/images/site/iconic-woman.png' %}" alt=""> 
    <div class="container hero-content">
        <div class="text-center">
            <div class="animated fadeInDown white-text">
                <img class="brand" src="{% static 'eventpage/images/site/logo_md.png' %}" alt="Semaine Africaine UL">
                <img class="inline-visible-mb brand" src="{% static 'eventpage/images/site/iconic-woman.png' %}" alt=""> 
                <div class="hero-titles">
                    <hr class="divider-short">
                    <h4 class="hero-theme">Femmes Africaines</h4>
                    <h4 class="hero-date">13 au 16 mars 2018</h4>    
                </div>
            </div>
        </div>
    </div>
    <div class="countdown-container">
        <div class="countdown-group countdown-day text-center">
            <div class="countdown-circle z-depth-1">
                <span class="days">20</span>
                <div class="countdown-label">jours</div>
            </div>
        </div>
        <div class="countdown-group countdown-hour">
            <div class="countdown-circle z-depth-1">
                <span class="hours">20</span>
                <div class="countdown-label">heures</div>
            </div>
        </div>
        <div class="countdown-group countdown-minute">
            <div class="countdown-circle z-depth-1">
                <span class="minutes">20</span>
                <div class="countdown-label">minutes</div>
            </div>
        </div>

        <div class="countdown-group countdown-second">
            <div class="countdown-circle z-depth-1">
                <span class="seconds">20</span>
                <div class="countdown-label">secondes</div>
            </div>
        </div>
    </div>
</section>
<!--/. Feel the Intro -->