<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="divider-new">Nouvelles</div>

                <!-- Carousel -->
                <div id="carousel1" class="carousel spe-car slide carousel-fade hoverable">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel1" data-slide-to="0" class="active">
                        </li>
                        <li data-target="#carousel1" data-slide-to="1"></li>
                        <li data-target="#carousel1" data-slide-to="2"></li>
                        <li data-target="#carousel1" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner " role="listbox">

                        <!-- First slide -->
                        <div class="item active">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <p><span style="font-weight:bold;">FINI!</span> <span style="color:#3B5998">La Semaine Africaine de l'Université Laval 2016</span> tire les rideaux. Cette première
                                        édition a été un franc succès. Nous remercions tous ceux qui y ont participé;
                                         rendez-vous l'année prochaine !
                                        <span style="color:#3B5998">‪#‎Saul2016‬ ‪#‎WeFeltTheSaul</span>
                                    ‬</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://www.facebook.com/1526896720938044/photos/a.1535280950099621.1073741828.1526896720938044/1543101809317535/?type=3&permPage=1">Plus D'infos</a>
                                </div>
                            </div>
                            <!--Image Card-->
                        </div>
                        <!-- /.item -->
                        <!-- Second slide -->
                        <div class="item">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <p>
                                        Le <span class="green-text text-darken-2" style="font-weight:bold">Sénégal</span>
                                        <span class="flag-icon flag-icon-sn" ></span>
                                        remporte le
                                        <a href="https://www.facebook.com/events/454026518130239/permalink/458279627704928/" style="font-weight:bolder;color:black;">Tournoi des 4 Nations</a>
                                        devant la <span class="orange-text text-darken-2" style="font-weight:bold">Côte d'Ivoire</span>
                                        <span class="flag-icon flag-icon-ci"></span> !
                                    </p>
                                    <p>Belles prestations du
                                        <span style="font-weight:bold">Maroc </span>
                                        <span class="flag-icon flag-icon-ma"></span> et de la
                                        <span style="font-weight:bold">Mahgreb Team</span>.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="https://www.facebook.com/La-Semaine-Africaine-de-lUniversit%C3%A9-Laval-1526896720938044/?fref=ts">Plus D'infos</a>
                                </div>
                            </div>
                        </div>

                        <!-- /.item -->

                        <!-- Third slide -->
                       <div class="item">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <p>Les activités de la Semaine Africaine de l'Université Laval annoncées.</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://www.facebook.com/La-Semaine-Africaine-de-lUniversit%C3%A9-Laval-1526896720938044/?fref=ts">Plus D'infos</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.item -->

                        <!-- Fourth slide -->
                        <div class="item">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <p>Le 29 janvier dernier, c'était le jour du Dabalidrôme ! Une activité de financement organisée par le comité de la Semaine Africaine de l'Université Laval !
                                        Cet événement a été une réussite et nous tenons à remercier tous les participants et le staff du restaurant la Calebasse !
                                        Let's feel the SAUL !
                                        <span style="color:#3B5998">‪#‎Saul2016‬ ‪#‎letsfeelthesaul</span>
                                    ‬</p>
                                </div>
                                <div class="card-action">
                                    <a href="https://www.facebook.com/ACAFUL/posts/240203356313012">Plus D'infos</a>
                                </div>
                            </div>
                            <!--Image Card-->
                        </div>
                        <!-- /.item -->


                    </div>
                    <!-- /.carousel-inner -->

                    <!-- Controls -->

                </div>
                <!-- /.carousel -->
            </div>


        </div>
    </div>
</section>