<section id="partners">
    <div class="container">

        <h3 class="text-center white-text text-uppercase">nos partenaires</h3>
        <p class="text-center white-text">
            Des personnalités, des associations et des entreprises qui aident 
            à la réussite de la Semaine Africaine.
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 logos">
                <div class="row">
                    {% for k, v in partners.items %}
                        <div class="col-md-4 col-sm-6 col-lg-3">
                            {% include 'eventpage/home/partner_card.html' with partner=v %}
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="clearfix visible-md"></div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="clearfix visible-sm"></div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="clearfix visible-lg"></div>
                        {% endif %}
                    {% endfor %}
            </div>

        </div>
        <div class="shout-out">
            <img class="img-responsive" src="https://res.cloudinary.com/csaul/image/upload/v1456518045/staticfiles/shoutout-partenaires.png"/>
        </div>
    </div>
</section>