{% load static %}
<div class="card partner-card">
    {% with 'eventpage/images/partners/'|add:partner.img as partner_img %}
    <div class="img-container">
        <img class="text-center" src="{% if partner_img %}{% static partner_img %}{% else %}{{img}}{% endif %}" alt="{% firstof partner.name name %}">
        {% endwith %}
    </div>
    <div class="card-body">
        <p class="card-text">{% firstof partner.name name %}</p>
    </div>
</div>