<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Semaine Africaine UL</title>
    {% block prepend_head_css %}

    {% endblock prepend_head_css %}
    <link rel="apple-touch-icon" sizes="57x57" href="/static/eventpage/img/apple-touch-icon-57x57.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/eventpage/img/apple-touch-icon-60x60.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/eventpage/img/apple-touch-icon-72x72.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/eventpage/img/apple-touch-icon-76x76.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/eventpage/img/apple-touch-icon-114x114.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/eventpage/img/apple-touch-icon-120x120.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/eventpage/img/apple-touch-icon-144x144.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/eventpage/img/apple-touch-icon-152x152.png?v=A00KB2a5E5">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/eventpage/img/apple-touch-icon-180x180.png?v=A00KB2a5E5">
    <link rel="icon" type="image/png" href="/static/eventpage/img/favicon-32x32.png?v=A00KB2a5E5" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/eventpage/img/favicon-194x194.png?v=A00KB2a5E5" sizes="194x194">
    <link rel="icon" type="image/png" href="/static/eventpage/img/favicon-96x96.png?v=A00KB2a5E5" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/eventpage/img/android-chrome-192x192.png?v=A00KB2a5E5" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/eventpage/img/favicon-16x16.png?v=A00KB2a5E5" sizes="16x16">
    <link rel="manifest" href="/static/eventpage/img/manifest.json?v=A00KB2a5E5">
    <link rel="mask-icon" href="/static/eventpage/img/safari-pinned-tab.svg?v=A00KB2a5E5" color="#d09b14">
    <link rel="shortcut icon" href="/static/eventpage/img/favicon.ico?v=A00KB2a5E5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/eventpage/img/mstile-144x144.png?v=A00KB2a5E5">
    <meta name="theme-color" content="#ffffff">
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Roboto font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400" rel="stylesheet" type="text/css">

    <!-- Font Awesome -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet" > -->
    

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    {% render_bundle 'main' 'css' %}

    {% comment %}
    <link href="{% static 'eventpage/css/fa-snapchat.css' %}" rel="stylesheet">
    <!-- MDB core CSS -->
    <link href="{% static 'eventpage/css/mdb.css' %}" id="mdb" rel="stylesheet">
    
    <link href="{% static 'eventpage/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'eventpage/css/style.css' %}" rel="stylesheet">
    {% endcomment %}
    {% block append_lib_css %}

    {% endblock append_lib_css %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58255910-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body id="{% block bodyId %}saul{% endblock bodyId %}" {% block bodyAttr %} {% endblock bodyAttr %}>
    <div class="wrapper">
        <!--Navigation-->
        <nav class="navbar blue navbar-fixed-top z-depth-1 {% block navbar_class_add %} {% endblock navbar_class_add %}" style="{% block style_navbar %} {% endblock style_navbar %}"role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand waves-effect waves-light" href="#">
                        <img class="hidden-xs hidden-xxs" src="{% static 'eventpage/images/site/logo_sm.png' %}" style="width:160px; height:60px; transform: translate(0, -10px);-webkit-transform: translate(0, -10px);"/>
                        <img class="visible-sm visible-xs" src="https://res.cloudinary.com/csaul/image/upload/v1456948980/staticfiles/saul-african-map.png" style="height:50px; transform: translate(0, -5px);-webkit-transform: translate(0, -5px);">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% block navbar_links %}
                        {% include 'eventpage/navbar_links.html' %}
                    {% endblock navbar_links %}
                    <!--<form class="navbar-form navbar-right" role="search">
                        <div class="form-group waves-effect waves-light">
                            <input type="text" class="form-control" placeholder="Recherche">
                        </div>
                    </form>-->
                </div>
            </div>
        </nav>
        <!--/.Navigation-->

        {% block content %}

        {% endblock content %}

        <!-- Footer -->
        {% include 'eventpage/footer.html' %}
        <!-- Footer -->

    </div>
    <!-- SCRIPTS -->

    <!-- CSS dependencies check -->
    <script>
            if (document.getElementById('cdnCssCheck').offsetWidth > 0){
                var referenceTag = document.getElementById('mdb');
                var newStyles = document.createElement("link");
                newStyles.rel = "stylesheet";
                newStyles.type = "text/css";
                newStyles.href = "{% static 'css/bootstrap.min.css' %}";

                document.getElementsByTagName('head')[0].insertBefore(newStyles, referenceTag);
            }
    </script>

    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% render_bundle 'main' 'js' %}
    
    {% comment %}
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'eventpage/js/mdb.js' %}"></script>

    <!-- Override Vanilla JS Mixin-->
    <script type="text/javascript" src="{% static 'eventpage/js/overridepure.js' %}"></script>
    {% endcomment %}

    <!-- Back to top floating button-->
    <script>
        $(document).ready(function(){

            // fade in #goToTop
            $(window).scroll(function () {

                // set distance user needs to scroll before we start fadeIn
                if ($(this).scrollTop() > window.innerHeight) {
                    $('#goToTop').fadeIn();
                } else {
                    $('#goToTop').fadeOut();
                }
            });

        });
    </script>
    <!-- Scroll-animation JavaScript -->
    <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>

    {% block appendscripts %}

    {% endblock appendscripts %}
</body>
</html>