<form id="contactForm" name="contact_form" method="post" action="/contact/">
    <p>N'hésitez surtout pas !</p>
    <br>
    <div class="input-field ">
        <i class="material-icons prefix">account_circle</i>
        <input id="contact-name" name="name" type="text" class="validate">
        <label for="contact-name" class="">Votre Nom</label>
    </div>
    <div class="input-field">
        <i class="material-icons prefix">mail</i>
        <input id="contact-mail" name="reply_email" type="email" class="validate">
        <label for="contact-mail" class="">E-mail</label>
    </div>
    <div class="input-field">
        <i class="material-icons prefix">label</i>
        <input id="contact-subject" name="subject" type="text" class="validate">
        <label for="contact-subject" class="">Sujet</label>
    </div>
    <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="contact-text" name="message" class="materialize-textarea"></textarea>
        <label for="contact-text" class="">Message</label>
    </div>
    <input type="text" name="auto_submit" class="hidden">
    {% csrf_token %}
    <div id="loading-contactForm" class="text-center hidden">
        <i class="fa fa-2x fa-circle-o-notch fa-spin blue-text"></i>
    </div>
    <div id="status-contactForm" class="text-center {% firstof contact_response 'hidden' %}">
        <i class="fa fa-check-o green-text"></i>&nbsp;
        <span class="{% if contact_success %} green-text {% else %} red-text {% endif %}">
            {{contact_message}}
        </span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn waves-effect waves-light lime">Envoyez</button>
    </div>
</form>