<footer class="page-footer" id="footer">
    <!--Footer Content-->
    <a href="#saul" style="display:none; opacity:0.8; position:fixed; right:2vw; bottom:6vh;" id="goToTop" class="btn-floating btn-large green waves-effect waves-light"><i class="fa fa-arrow-up"> </i></a>
    <div class="container">
        <div class="row center-on-small-only">
            <!--First column-->
            <div class="col-md-6 text-center">
                <p class="white-text center-on-small-only">Restez informés sur tout!</p>
                <p class="white-text center-on-small-only">Inscrivez-vous à la newsletter</p>
                <form id="subscribeForm" name="subscribe_form" method="post" action="/424e388901/subscribe/">
                    <div class="input-field">
                        <i class="material-icons prefix">mail</i>
                        <input name="email" id="infolettre" type="email" class="validate">
                        <label for="infolettre" class="">E-mail</label>
                        <input type="text" name="auto_submit" class="hidden">
                        {% csrf_token %}
                        <div id="loading-submitForm" class="text-center hidden">
                            <i class="fa fa-2x fa-circle-o-notch fa-spin blue-text"></i>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger  waves-effect waves-light"><i class="fa fa-user right"></i>C'est parti</button>
                </form>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6 text-center">
                <p class="column-title white-text">Suivez-nous</p>

                <a target="_blank" href="https://www.facebook.com/La-Semaine-Africaine-de-lUniversit%C3%A9-Laval-1526896720938044/" class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
                <a target="_blank" href="#" class="btn-floating btn-large tw-bg waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
                <a href="mailto:comite.sa.ulaval@gmail.com" class="btn-floating btn-large gplus-bg waves-effect waves-light"><i class="fa fa-google-plus"> </i></a>
                <a target="_blank" href="https://www.instagram.com/semaineafricaineul/" class="btn-floating btn-large insta-bg waves-effect waves-light"><i class="fa fa-instagram"> </i></a>
                <a href="#" class="btn-floating btn-large snap-bg waves-effect waves-light"><i class="fa fa-snapchat"> </i></a>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Content-->

    <!--Copyrights-->
    <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
            © Copyright SAUL {% now 'Y' %}
        </div>
    </div>
    <!--/.Copyrights-->
</footer>
<div id="snapalias" style="
    display: none;
    position: fixed;
    width: 150px;
    height: 180px;
    bottom: 40px;
    left: 50%;
    text-align: center;
    z-index: 2;
">
    <img src="https://thebitterlemon.files.wordpress.com/2015/10/snapchat_qr_code.png?w=275&amp;h=275" alt="" class="img-responsive">
    <p style="color: #fff;">
      @saul
    </p>
</div>
<div class="hidden" id="cdnCssCheck"></div>