{% extends 'eventpage/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block append_lib_css %}
    {% render_bundle 'gallery' 'css' %}
    {% comment %}
    <link rel="stylesheet" href="{% static 'eventpage/css/blueimp-gallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'eventpage/css/bootstrap-image-gallery.min.css' %}">
    {% endcomment %}
{% endblock append_lib_css %}

{% block bodyAttr %}
    class="black"
{% endblock bodyAttr %}

{% block content %}

    <div class="container" style="min-height:80vh; padding-top:70px; padding-top:10vh; text-align:center;">
        <div class="space-30"></div>
        <div class="space-30"></div>

        <!-- section gallery -->
        <section id="dabalidrome" style="margin-bottom:150px;min-height:400px;">
            <div class="col-md-12">
                <h1 class="page-header white-text" style="font-size:37px">
                    Dabalidrôme<small>, le super repas</small>
                </h1>
                <a id="launchGallery" class="btn white-text green green-darken-1">Ouvrir la galerie</a>
                <div class="container">
                    <div class="space-30"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="links">
                                {% for image in gallery_store.dabalidrome %}

                                    <a class="col-sm-3" href="{{image}}" style="display:block" title="Dabalidrome" data-gallery >
                                        <img src="{{image}}" alt="Dabalidrome" style="height:100px;width:100px">
                                    </a>

                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-4">
                            <img class="img-responsive" src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false" >
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block appendscripts %}
    {% render_bundle 'gallery' 'js' %}
    {% comment %}
        <script src="{% static 'eventpage/js/jquery.blueimp-gallery.min.js' %}"></script>
        <script src="{% static 'eventpage/js/bootstrap-image-gallery.min.js' %}"></script>
        <script src="{% static 'eventpage/js/gallery.js' %}"></script>
    {% endcomment %}
{% endblock appendscripts %}