{% extends 'eventpage/base.html' %}
{% load static %}

{% block prepend_head_css %}
    {% include 'eventpage/loading_screen_style.html' %}
{% endblock prepend_head_css %}

{% block append_lib_css %}
    {% comment %}
    <link href="/static/eventpage/css/flag-icon.min.css" rel="stylesheet">
    {% endcomment %}
{% endblock append_lib_css %}

{% block content %}
    {% include 'eventpage/welcome_screen.html' %}
    
    {% include 'eventpage/home/hero.html' %}

    {% comment %}
        {% include 'eventpage/home/news.html' %}
    {% endcomment %}

    {% include 'eventpage/home/events.html' %}

    {% include 'eventpage/home/partners.html' %}
    {% include 'eventpage/home/become_partner.html' %}

    <!--Contact (and Map)-->
    {% include 'eventpage/home/contact.html' %}
    <!--./Contact (and Map)-->

    <!-- modal annonces -->
    {% include 'eventpage/modal_annonce.html' %}
    <!--./ modal annonces -->

{% endblock content %}

{% block appendscripts %}
    <!-- Validate library -->
    <script type="text/javascript" src="{% static 'js/validate.min.js' %}"></script>
    <!--Countdown script-->
    <script type="text/javascript" src="{% static 'js/countdown-timer.js' %}"></script>
    <script>
        $(".countdown-container").countdown({date:"13 march 2018 16:30:00",format:"on"},function(){});
    </script>
    <!-- hide welcome screen script -->
    <script>
        window.onload = function(){
            if (window.jQuery) {
                $("#bigName").fadeIn();
            } else {
                document.getElementById('bigName').style.display = 'block';
            }
            setTimeout(function(){
                // body = document.getElementById('saul');
                // body.style.height = '100%';
                el = document.getElementById('loadingScreen');
                !window.jQuery || $(el).fadeOut();
                el.parentNode.removeChild(el);
            },1500);
        }
    </script>

    <script>
        var submitForm = function(idForm){
            thisForm = $('#{0}'.format(idForm));
            $('#loading-{0}'.format(idForm)).removeClass('hidden');

            $.ajax({
                type: thisForm.attr('method'),
                url: thisForm.attr('action'),
                data: thisForm.serialize(),
                context: thisForm,
                complete: function(){
                    $('#loading-{0}'.format(idForm)).addClass('hidden');
                },
                success: function(data, status, xhr) {
                    if (xhr.status == 278){
                        window.location.replace(xhr.getResponseHeader("Location"));
                    }
                    if (data.subscribeResponse) {
                        $('#modalAnnonceMessage').text(data.subscribeMessage);
                        if (data.subscribeSuccess){
                            $('#modalAnnonceSuccessIcon').removeClass('hidden');
                            $('#modalAnnonceErrorIcon').addClass('hidden');
                        } else {
                            $('#modalAnnonceErrorIcon').removeClass('hidden');
                            $('#modalAnnonceSuccessIcon').addClass('hidden');
                        }
                        $('#modalAnnonce').modal();
                        return;
                    }
                    if (!data.contactSuccess){
                        $('#status-{0}'.format(idForm)).addClass('text-center red-text fadeInUp');
                        $('#status-{0}'.format(idForm)).html('{0}&nbsp;<i class="fa fa-ban"></i>'.format(data.contactMessage)).removeClass('hidden');
                    } else {
                        $('#status-{0}'.format(idForm)).addClass('text-center green-text fadeInUp');
                        $('#status-{0}'.format(idForm)).html('{0}&nbsp;<i class="fa fa-check"></i>'.format(data.contactMessage)).removeClass('hidden');
                    }

                }
            });
        };
        var validator = new FormValidator('contact_form', [{
                name: 'name',
                display: 'Nom',
                rules: 'required|alpha'
            }, {
                name: 'reply_email',
                display: 'courriel',
                rules: 'required|valid_email'

            }, {
                name: 'subject',
                display: 'Sujet',
                rules: 'min_length[8]'
            }, {
                name: 'message',
                display: 'Message',
                rules: 'required|min_length[8]'
            }], function(errors, e) {

                if (errors.length > 0) {
                    // Show the errors
                    console.log('{0} erreurs'.format(errors.length));
                    for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
                        var inputElement = $('input[name = {0}]'.format(errors[i].name));
                        if (!inputElement.length) inputElement = $('textarea[name = {0}]'.format(errors[i].name));
                        console.log(inputElement);
                        inputElement.addClass('invalid');
                        $('label[for= {0}]'.format(inputElement.attr('id'))).addClass('submit-error').attr('data-error', errors[i].message);
                    }
                } else {
                    try {
                        submitForm('contactForm');
                    } catch(ex) {
                        console.log('error:');
                        console.log(ex);
                    }
                }
                e && e.preventDefault ? e.preventDefault() : e.returnValue = false;
            });

            var validator2 = new FormValidator('subscribe_form', [{
                name: 'email',
                display: 'courriel',
                rules: 'required|valid_email'

            }], function(errors, e) {
                if (errors.length > 0) {
                    // Show the errors
                    console.log('subscriptions {0} erreurs'.format(errors.length));

                } else {
                    try {
                        submitForm('subscribeForm');
                    } catch(ex) {
                        console.log('error:');
                        console.log(ex);
                    }
                }
                e && e.preventDefault ? e.preventDefault() : e.returnValue = false;
            });
    </script>
    <!--carousel autoplay-->
    <script>
        $(".carousel").carousel();
    </script>
   <!-- <script>
        $(document).ready(function(){
            var snap = $('#snapalias');
            snap.click(function(snap){
                snap.fadeToggle();
            });
            var offset = element.offset().top - $(window).scrollTop();

            if(offset > window.innerHeight){

            }
        })
    </script> -->
{% endblock appendscripts %}
