{% extends 'eventpage/base.html' %}

{% block style_navbar %}
    display:none !important;
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom:100px; margin-top:100px; min-height:600px; min-height:80vh;">
        <h1 style="color:#28A1D8;font-family:'Museo-500', Roboto, Helvetica; font-weight:bold;text-align:center;">Team SAUL 2016</h1>
        {% if alert %}
        <div class="row" style="margin-bottom:20px;">
            <div class="alert alert-danger">
                {{alert}}
            </div>
        </div>
        {% endif %}
        <div class="row">
        {% if authorized %}
            <div class="col-md-12" style="text-align:center; margin-bottom:60px">
                <form accept-charset="utf-8" method="get" action="/intranet/">
                    <div class="input-field">
                        <select name="member_selected">
                            {% for member in members %}
                                <option value="{{member.id}}">{{member.first_name}} {{member.surname}}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <button type="submit" class="btn waves-effect waves-light lime" style="display:inline-block">Sélectionner</button>
                </form>
            </div>
            <div class="col-md-4" style="text-align:center">
                <img class="img-circle" src="{{member.picture_link}}" style="width:200px">
                <h3 style="font-size:23px; text-transform:capitalize;">
                    {{member.first_name}} <span style="font-weight:bold; text-transform:uppercase;">{{member.surname}}</span>
                    <small style="font-weight:light">{{member.role}}</small>
                </h3>
                <p>{{member.bio}}</p>
            </div>
            <div class="col-md-8" style="text-align:left;">
                <h3>Modifier les informations:</h3>
                <form accept-charset="utf-8" method="post" action="/intranet/">
                    {% csrf_token %}
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input name="surname" id="fName" type="text" class="validate">
                        <label for="fName">Nom</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input name="first_name" id="sName" type="text" class="validate">
                        <label for="sName">Prénom</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">role</i>
                        <input name="role" id="role" type="text" class="validate">
                        <label for="role">Rôle</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">link</i>
                        <input name="picture_link" id="picLink" type="url" class="validate">
                        <label for="picLink">Lien Image</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">id</i>
                        <input name="picture_tag" id="picTag" type="text" class="validate">
                        <label for="picTag">TagID Image</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">info</i>
                        <textarea name="bio" id="bio" class="materialize-textarea"></textarea>
                        <label for="bio">Petite Bio</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">info</i>
                        <input name="rank" type="number" id="position" class="validate">
                        <label for="position">Position</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn waves-effect waves-light lime">Soumettre</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="col-md-12" style="text-align:center;">
                <form accept-charset="utf-8" method="post" action="/intranet/login/">

                    <div class="input-field col-md-4 col-md-offset-4">
                        <input name="password" id="password" type="password" class="validate">
                        <label for="password">Code SECRET</label>
                        <input type="hidden" name="notsomeone">
                        {% csrf_token %}
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn waves-effect waves-light lime">Entrer</button>
                    </div>
                </form>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock content %}