<!-- Modal -->
<div id="modalAnnonce" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Infolettre</h4>
      </div>
      <div class="modal-body">
        <p id="modalAnnonceMessage" style="font-size:21px;font-weight:bold;text-align:center;"></p>
        <p class="text-center">
            <i id="modalAnnonceSuccessIcon" class="hidden fa fa-check-circle green-text" style="font-size:80px"></i>
            <i id="modalAnnonceErrorIcon" class="hidden fa fa-ban red-text" style="font-size:80px"></i>
        </p>
      </div>

    </div>

  </div>
</div>