
<ul class="nav navbar-nav navbar-right">
    <li class="{{ishome}}"><a href="{% if ishome %}#{% else %}/{% endif %}" class="waves-effect waves-light">Accueil <span class="sr-only">(current)</span></a></li>
    <li><a href="{% if ishome %}#events{% else %}/#events{% endif %}" class="waves-effect waves-light">Évènements</a></li>
    <li><a href="{% if ishome %}#partners{% else %}/#partners{% endif %}" class="waves-effect waves-light">Partenaires</a></li>
    <li class="dropdown {% firstof isorganisation isulaval %}">
        <a href="{% url 'org' %}" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">À propos<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'ulaval' %}">L'Université Laval</a></li>
            <!--<li><a href="#">Le Comité</a></li>-->
            <!--<li><a href="#">La Vision</a></li>-->
            <li><a href="{% if not organisation %}{% url 'org' %}{% endif %}#commitee">Le Comité</a></li>
            <li><a href="{% if not organisation %}{% url 'org' %}{% endif %}#aboutUs">La Vision</a></li>
        </ul>
    </li>
    <li class="{{isgallery}}"><a href="{% url 'gallery' %}" class="waves-effect waves-light">Galerie</a></li>
    <li><a href="{% if ishome %}#contact{% else %}/#contact{% endif %}" class="waves-effect waves-light">Contact</a></li>

</ul>
