{% extends 'eventpage/base.html' %}
{% block content %}
    <!-- Intro image -->
    <section class="full-bg-img full-60">
        <div class="container">
           <div class="space-30"></div>
           <div class="space-30"></div>
            <div class="verticalcenter text-center">
                <div class="verticalcenter">
                        <div class="animated fadeInDown white-text">
                            <h4>Le Comité Organisateur</h4>
                            <hr class="divider-short">
						</div>
                    </div>
            </div>
        </div>
    </section>
    <!--/. Intro image -->

    <div class="container">
        <!-- En-tête Organisation -->
        <section id="aboutUs">
            <div class="col-md-12">
                <h1 class="page-header">
                    À propos de nous <small></small>
                </h1>
                <p>
                    L'organisation de la Semaine Africaine de l'Université Laval réunit des étudiants africains pour la plupart.
                    C'est un groupe de jeunes personnes motivées avec des compétences diverses, qui mettent leurs aptitudes au service
                    de la vision qu'ils partagent, celle d'un nouveau regard sur eux-même et sur leur continent.
                </p>
            </div>
        </section>
        <!--/. En-tête Organisation -->

        <!-- Comité Organisateur -->
        <section id="commitee" style="margin-bottom:150px">
            <div class="row">
                <div class="col-md-12">
                    <div class="space-30"></div>
                    <h2 class="page-header">
                        Le Comité
                    </h2>

                    <div class="space-30"></div>
                </div>
            </div>
            <div class="row hidden-sm hidden-xs hidden-xxs">
                {% for membre in object_list %}
                <div class="col-md-4 text-center" >
                    <img class="img-circle img-center hoverable" src="{{membre.picture_link}}" alt="" style="width:200px" >
                    <h3 style="font-size:23px; text-transform:capitalize;">
                        <span style="font-weight:normal">{{membre.first_name}}</span> <span style="font-weight:bold; text-transform:uppercase;">{{membre.surname}}</span>

                    </h3>
                    <small style="font-weight:light">{{membre.role}}</small>
                    <p>{{membre.bio}}</p>
                </div>
                {% if forloop.counter > 0 and forloop.counter|divisibleby:"3" %}
                    <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="row hidden-md hidden-lg">
                {% for membre in object_list %}
                <div class="col-sm-6 text-center" >
                    <img class="img-circle img-center hoverable" src="{{membre.picture_link}}" alt="" style="width:200px" >
                    <h3 style="font-size:23px; text-transform:capitalize;">
                        <span style="font-weight:normal">{{membre.first_name}}</span> <span style="font-weight:bold; text-transform:uppercase;">{{membre.surname}}</span>

                    </h3>
                    <small style="font-weight:light">{{membre.role}}</small>
                    <p>{{membre.bio}}</p>
                </div>
                {% if forloop.counter|divisibleby:"2" %}
                    <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <!--/. Comité Organisateur -->
        <!--- paginateur -->
        <div class="row">
            <div class="col-md-12" style="text-align:center; margin-top:-101px;">
                <ul class="pagination pag-circle">
                    {% if page_obj.has_previous %}
                        <li><a href="?group={{page_obj.previous_page_number}}#commitee"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    {% for page_number in paginator.page_range %}
                        <li><a class="{% if page_obj.number == page_number %} active {% endif %}" href="?group={{page_number}}#commitee">{{page_number}}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?group={{page_obj.next_page_number}}#commitee"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}