{% extends 'eventpage/base.html' %}

{% block style_navbar %}
    background-color:#1C2331 !important
{% endblock style_navbar %}

{% block content %}
    <div class="container" style="margin-bottom:100px; margin-bottom:10vh; min-height:400px; padding-top:70px; padding-top:10vh; text-align:center;">
        <div class="space-30"></div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header black-text" style="font-size:37px; font-family:Museo-500, Roboto, Helvetica, arial;">
                    Notre Université
                </h1>
                <p style="font-family:Roboto">
                    Localisée dans la ville de Québec, capitale nationale de la province du Québec,
                    l’Université Laval est la première Université francophone à avoir fait son apparition sur le continent Nord-Américain.
                    Datant de 1852, elle a su pendant toutes ces années développer et enrichir son offre en terme d’aménagements,
                    d’éducation et de ressources humaines. Aujourd’hui elle compte 1 350 professeurs,
                    plus de 270 regroupements et chaires de recherche, plus de 500 programmes et 48 000 étudiants.
                    Cette université nous offre un milieu de vie exceptionnel au cœur de la ville de Québec.
                </p>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-bottom:20px;margin-bottom:4vh;">
                <img src="https://res.cloudinary.com/csaul/image/upload/v1456518045/staticfiles/ulaval-logo.png" alt="Logo UL"/>
            </div>
            <div class="col-md-12">
                <p style="font-weight:bold">Pour plus d’informations<p>
                <hr class="divider-short yellow">
                <ul class="list-unstyled">
                    <li><a href="http://www2.ulaval.ca/accueil.html">http://www2.ulaval.ca/accueil.html</a></li>
                    <li>2325, rue de l'Université</li>
                    <li>Québec (Québec) G1V 0A6</li>
                    <li>CANADA</li>
                    <li>418 656-2131</li>
                    <li>1 877 785-2825</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}