<div class="verticalcenter col-md-12">
    <div class="card-panel grey">
        <h4>{{subscribe_message}}</h4>
        <div class="row">
        {% if subscribe_success %}
            <i class="fa fa-check-cirle green-text" style="font-size:50px"></i>
        {% else %}
            <i class="fa fa-ban red-text" style="font-size:50px"></i>
        {% endif %}
        </div>
    </div>
</div>