
<div id="loadingScreen" style="
    display:none;
    position: fixed;
    /* text-align: center; */
    z-index: 1031;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow:hidden;
    overflow-y:auto;
" class="">
    <div class="col-md-12">
        <button class="skipWelcome btn btn-info pull-right">Passer&nbsp;<i class="fa fa-angle-double-right"></i></button>
    </div>
    <div style="display:block; margin:auto; text-align:center; margin-top:10vh;">
        <img id="loadingScreenIcon" style="width:113px;height:150px;" src="https://res.cloudinary.com/csaul/image/upload/v1456948980/staticfiles/saul-african-map.png" alt="">
    </div>
    <div style="display:block; margin:auto;margin-top:20vh;text-align:center">
        <div class="circle bounce" style="background-color:rgba(222,10,0,.64); animation-delay: -.5s;"></div>
        <div class="circle bounce" style="background-color:rgba(290,200,0,.74)"></div>
        <div class="circle bounce" style="background-color:rgba(22,210,40,.84); animation-delay: .5s"></div>
    </div>
    <h1
        id="bigName"
        class="fadeInUp"
        style="
        margin-top:40px;
        margin-top:5vh;
        position:relative;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        left:50%;
        text-align: center;
        font-family:'Museo-500';
        font-size:21px;
        display:none;
        -webkit-filter:blur(0);
        filter:blur(0);
        "
    >
        Semaine Africaine de l'Université Laval
    </h1>
    <div id="didYouKnow" class="row" style="position:relative;bottom:0;margin:auto;visibility:hidden; transition:visibility ease .5s;text-align:center;margin-top:40px;margin-top:5vh;">
        <div class="col-md-12" style="border-radius:5px;background-color: rgba(0,0,0,.94);border: 2px solid rgba(0,0,0,.84); width:100%;min-height: 70px; overflow:hidden;color: #fff;margin:auto;">
            <div class="col-md-4" style="height: 100%; margin-bottom:2px;">
                <h2 style="margin-right: 3px;font-weight:bold;font-size:24px;text-align:center;">Le saviez-vous:</h2>
            </div>
            <p class="col-md-8" style="margin-top:15px; text-align:center;font-weight:light;font-size:20px">Toutes les 60 secondes, en Afrique, une minute passe.</p>
        </div>
        
    </div>

    <script>
        // document.getElementById('loadingScreen').style.display = 'block';
        // body = document.getElementById('saul');
        // body.style.height = '100vh';
        // body.style.overflowY = 'hidden';
        // document.getElementById('didYouKnow').style.visibility = 'visible';
    </script>
</div>
