/*** uncss> filename: https://fonts.googleapis.com/icon?family=Material+Icons ***/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}

/*** uncss> filename: https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css ***/

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*** uncss> filename: static/saul/css/fa-snapchat.css ***/

@font-face {
  font-family: 'fa-snapchat';
  src: url('../fonts/fa-snapchat.eot?-73zac');
  src: url('../fonts/fa-snapchat.eot?#iefix-73zac') format('embedded-opentype'),
		url('../fonts/fa-snapchat.ttf?-73zac') format('truetype'),
		url('../fonts/fa-snapchat.woff?-73zac') format('woff'),
		url('../fonts/fa-snapchat.svg?-73zac#fa-snapchat') format('svg');
}

/*** uncss> filename: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css ***/

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  :after,
  :before {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  p {
    orphans: 3;
    widows: 3;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

h4,
h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h4,
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

p {
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-4,
.col-md-12,
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:992px) {
  .col-md-12,
  .col-md-6 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }
}

@media (min-width:1200px) {
  .col-lg-4 {
    float: left;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

/*** uncss> filename: static/saul/mdb.css ***/

/*!
 * Material Design for Bootstrap
 * Version: MDB FREE: 3.3.1, MDB PRO 3.2.0
 *
 *
 * Copyright: Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 * Read the license: http://mdbootstrap.com/wp-content/uploads/2015/09/MDB-License.pdf
 *
 *
 */

/*********************
  Mixins
**********************/

/*********************
Colors
**********************/

.red-text {
  color: #F44336 !important;
}

.black-text {
  color: #000000 !important;
}

.white {
  background-color: #FFFFFF !important;
}

.white-text {
  color: #FFFFFF !important;
}

.rgba-black-light {
  background-color: rgba(0, 0, 0, 0.3);
}

/*********************
  Variables
**********************/

/*** Tooltip ***/

/* ANIMATION */

/*** Colors ***/

/*** Badges ***/

/*** Buttons ***/

/*** Cards ***/

/*** Collapsible ***/

/*** Dropdown ***/

/*** Fonts ***/

/*** Forms ***/

/*** Global ***/

/*** Navbar ***/

/*** SideNav ***/

/*** Photo Slider ***/

/*** Tabs ***/

/*** Tables ***/

/*** Toasts ***/

/*** Typography ***/

/*** Collections ***/

/* Progress Bar */

/*********************
  Normalize
**********************/

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

footer,
section {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

/**
 * Address styling not present in Safari and Chrome.
 */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

/**
 * Address styling not present in IE 8/9.
 */

/**
 * Address inconsistent and variable font size in all browsers.
 */

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

/* 1 */

/**
 * Re-set default cursor for disabled elements.
 */

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

/**
 * Define consistent border, margin, and padding.
 */

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

/*********************
  General classes
**********************/

body {
  font-family: Roboto, sans-serif;
}

a {
  color: #039be5;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  font-weight: 300;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
}

footer.page-footer .column-title {
  text-transform: uppercase;
  margin-top: 15px;
}

footer.page-footer a {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  footer.page-footer .column-title {
    margin-top: 2em;
  }
}

/*********************
  Roboto font
**********************/

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

/*********************
  Buttons
**********************/

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #aa66cc;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  margin: 10px;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
}

/*********************
  Navbar
**********************/

.navbar .navbar-form :-moz-placeholder {
  color: rgba(255, 255, 255, 0.84);
}

.navbar .navbar-form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.84);
}

.navbar .navbar-form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.84);
}

/*********************
  Shadows
**********************/

.btn-floating,
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/*********************
  Typography
**********************/

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-family: "Roboto",
     sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

p {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 300;
}

h4,
h5,
h5 {
  font-weight: 300;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

/* Responsive Headings */

/* Extra Small Devices, Phones */

/* Small Devices, Tablets */

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */

/*********************
  Cards
**********************/

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
}

.card .card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  line-height: 48px;
}

/*********************
Dropdowns
**********************/

/*********************
  Tooltip
**********************/

/*********************
  Scrollspy
**********************/

/*********************
  Pagination
**********************/

/*********************
  Panels
**********************/

/*********************
Carousel
**********************/

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

/***************************
Forms basic
****************************/

:-moz-placeholder {
  /* Firefox 18- */
  color: #d1d1d1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

/*********************
Video background
**********************/

/*********************
  Parallax
**********************/

/* MDB HOVER EFFECTS */

/*********************
  SECTIONS AND LAYOUT
**********************/

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

section:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

/*********************
  Waves
**********************/

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* Firefox Bug: link not triggered */

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
}

.divider-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
}

.divider-new::before {
  content: '';
  height: 1.5px;
  background: #666;
  flex: 1;
  margin: 0 0.45em 0 0;
}

.divider-new::after {
  content: '';
  height: 1.5px;
  background: #666;
  flex: 1;
  margin: 0 0 0 0.45em;
}

.divider-short {
  max-width: 50px;
  border-color: #CC0000;
  border-width: 3px;
}

/*** uncss> filename: static/saul/main.css ***/

@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);*/

#explore {
  font-family: 'Dosis',sans-serif;
  font-size: 17px;
  color: #fff;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

#explore {
  background-color: #C34C39;
  background-image: url("/static/saul/images/event-bg.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
}

/*#about .btn-primary{background-color:#137c61;color:#fff;text-transform:capitalize;border:none;margin-top:28px;}#about .btn-primary:hover{background-color:#126d55}#twitter{background-color:#ecedef;background-image:url("../images/twitter-bg.jpg");background-position:center bottom;background-size:cover;background-repeat:no-repeat;position:relative;padding:95px 0 90px;overflow:hidden;}.twit{position:absolute;left:0;top:-42%;}#twitter-feed .item{text-align:center;}#twitter-feed .item img{display:inline-block;width:78px;height:78px;border-radius:50%;background-color:#c5c8ce;padding:5px;margin-bottom:30px;}#twitter-feed .item a,#twitter-feed .item p{font-size:24px;font-weight:300;font-family:'Yanone Kaffeesatz','sans-serif';}#twitter-feed .item p{color:#3D3D3D;}#twitter-feed .item a{color:#00c3ff;}.twitter-control-left,.twitter-control-right{position:absolute;color:#00c3ff;top:59%;font-size:24px}.twitter-control-left{left:0;}.twitter-control-right{right:0;}#sponsor{background-color:#1881a2;background-image:url("../images/sponsor-bg.jpg");background-position:50% 0;background-size:cover;background-repeat:no-repeat;position:relative;}.light{position:absolute;right:0;bottom:0;}#sponsor .col-sm-10{z-index:10;}#sponsor h2{margin-top:90px;margin-bottom:40px;}#sponsor .item ul{font-size:0;padding:0;}#sponsor .item ul li{display:inline-block;list-style:none;width:33.33%;margin-bottom:75px;}#sponsor .item ul li:last-child{margin-right:0}.sponsor-control-left,.sponsor-control-right{color:#FFFFFF;font-size:24px;position:absolute;top:20%;}.sponsor-control-left{right:12%}.sponsor-control-right{right:10%}#map{position:relative;}#gmap{height:450px;}.contact-section{background-color:#f7ab24;background-image:url("../images/contact-bg.jpg");background-position:60% 0;background-size:contain;background-repeat:no-repeat;position:relative;}.ear-piece{position:absolute;left:0;top:0;}#contact .container{padding-top:47px;}#contact h3{text-transform:inherit;color:#373737;}#contact-section h3{margin-bottom:25px}#contact address{font-size:18px;color:#373737;}.contact-text{margin-bottom:35px;display:block;}#contact-section .form-control{border-color:#ae750d;box-shadow:none;outline:0 none;border-radius:0;color:#797979;font-size:18px;}#contact-section .form-control:focus{border-color:#ae750d;}#contact-section input{height:44px;}#contact-section textarea{height:90px;resize:none;}#contact-section .btn-primary{background-color:#373737;color:#f7ab24;border:none;font-size:24px;padding:6px 42px;margin-bottom:110px;margin-top:10px}#contact-section .btn-primary:hover{background-color:#212020;color:#fff}#footer{background-color:#212121;background-image:url("../images/footer-bg.jpg");background-position:center bottom;background-repeat:no-repeat;background-size:cover;color:#FFFFFF;font-size:20px;padding:35px 0;}#footer a{color:#f7ab24}#footer a:hover{color:#1B7B98}*/

/*h1,h2,h3,h4,h5,h6{font-family:'Yanone Kaffeesatz','sans-serif';font-weight:300;text-transform:uppercase;}*/

/*.btn{border-radius:0;font-family:'Yanone Kaffeesatz','sans-serif';font-size:20px;padding:9px 23px;}*/

/*** uncss> filename: static/saul/css/news.css ***/

/*!
 *
 *
 * Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 *
 */

/*********************
  Mixins
**********************/

/*********************
  VARIABLES
**********************/

/*********************
  GENERAL
**********************/

html,
body {
  height: 100%;
}

/*********************
  NAVIGATION
**********************/

/* Small Devices, Tablets */

/*********************
  MAIN IMAGE
**********************/

.full-header-bg {
  /*background: url("/static/saul/images/main-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
  background-color: #6ED223;
  min-height: 100px;
  overflow: hidden;
  margin: 0;
}

#explore {
  margin-top: 0;
  margin-bottom: 0;
}

footer.page-footer {
  margin-top: -20px;
}

/*********************
  CARDS
*********************/

/**Newsletter**/

.card .card-content .card-title.event-header {
  border-bottom: 1px solid rgba(204, 133, 133, 0.88);
  margin-bottom: 5px;
  padding-bottom: 10px;
}

/*********************
  TEMPLATE COLORS
**********************/

.fb-bg {
  background-color: #3B5998;
}

.tw-bg {
  background-color: #55ACEE;
}

.insta-bg {
  background-color: rgb(18,86,136);
}

.snap-bg {
  background-color: #FFFC00;
}

/****************
  ICONS
*****************/

.btn-floating .icon-png {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  text-align: center;
  display: inline-block;
}

/*********************
  FOOTER
**********************/

footer.page-footer {
  margin-top: 0;
  background-color: #1C2331;
}

/*********
Utils
**********/
